.contacts {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 21px;

  @media (max-width: @mobile-width-only) {
    text-align: center;
    padding: 15px 0;
  }
}

.contacts__hashtag {
  margin: 0;
  margin-top: 15px;

  @media (min-width: @tablet-width) {
    margin-top: 0;
  }
}
