.features {
  text-transform: uppercase;
}

.features__list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  margin-top: 35px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    text-align: center;
  }
}

.features__item {
  padding-left: 70px;
  padding-right: 35px;
  margin-bottom: 25px;

  @media (min-width: @tablet-width) {
    width: 33%;
    margin: 0;
    padding-top: 160px;
    padding-bottom: 60px;
    padding-left: 32px;
    padding-right: 32px;

    &:nth-child(2) {
      order: 1;
    }
  }

  @media (min-width: @desktop-width) {
    padding-top: 160px;
    padding-bottom: 60px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

.features__title {
  font-size: 18px;
  margin: 0;

  @media (min-width: @tablet-width) {
    margin-bottom: 30px;
  }
}

.features__description {
  font-size: 14px;
  margin: 0;
}
