.features {
  text-transform: uppercase;
}

.features__list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  margin-top: 35px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
  }
}

.features__item {
  position: relative;
  padding-left: 70px;
  padding-right: 35px;
  margin-bottom: 25px;

  @media (min-width: @tablet-width) {
    width: 33%;
    margin: 0;
    padding-top: 160px;
    padding-bottom: 60px;
    padding-left: 32px;
    padding-right: 32px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 160px;
    padding-bottom: 60px;
    padding-left: 50px;
    padding-right: 50px;
  }

  &::before {
    position: absolute;
    display: block;
    top: 0;
    left: 20px;
    width: 40px;
    height: 40px;
    content: "";
    background-color: @base-blue;
    mask-repeat: no-repeat;

    @media (min-width: @tablet-width) {
      left: 50%;
      transform: translateX(-50%);
      top: 60px;
      width: 77px;
      height: 77px;
    }
  }

  &--accomodation {
    &::before {
      mask-image: url("../img/icon-house.svg");
      mask-size: 39px 37px;

      @media (min-width: @tablet-width) {
        mask-size: 75px 72px;
      }
    }
  }

  &--souveniers {
    @media (min-width: @tablet-width) {
      order: 1;
    }

    &::before {
      mask-image: url("../img/icon-gift.svg");
      mask-size: 32px 38px;

      @media (min-width: @tablet-width) {
        mask-size: 76px 68px;
      }
    }
  }

  &--food {
    &::before {
      mask-image: url("../img/icon-burger.svg");
      mask-size: 40px 34px;

      @media (min-width: @tablet-width) {
        mask-size: 64px 75px;
      }
    }
  }
}

.features__title {
  font-size: 18px;
  margin: 0;

  @media (min-width: @tablet-width) {
    margin-bottom: 30px;
  }
}

.features__description {
  font-size: 14px;
  margin: 0;
}
