.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-transform: uppercase;
  font-weight: 700;

  @media (min-width: @tablet-width) {
    display: flex;
    margin: 0;
  }
}

.main-nav__item {
  text-align: center;
  background-color: @base-blue;

  &:hover,
  &:focus {
    background-color: @mid-blue;
  }

  &:active {
    background-color: @dark-blue;
  }

  @media (min-width: @tablet-width) {
    width: 25%;
    background-color: @white;

    &:hover,
    &:focus {
      background-color: @white;
    }

    &:active {
      background-color: @white;
    }
  }
}

.main-nav__item-link {
  display: block;
  color: @white;
  text-decoration: none;
  padding: 20px 0;

  &:active {
    color: @white-30;
  }

  @media (min-width: @tablet-width) {
    color: @black;
    font-size: 14px;

    &:hover,
    &:focus {
      color: @base-blue;
    }

    &:active {
      color: @black-30;
    }
  }
}
