.main-nav__list {
  list-style: none;
  text-transform: uppercase;
  font-weight: 700;
}

.main-nav__item {
  text-align: center;
  color: @white;
  background-color: @base-blue;

  &:hover,
  &:focus {
    background-color: @mid-blue;
  }

  &:active {
    background-color: @dark-blue;
  }
}

.main-nav__item-link {
  color: @white;
  text-decoration: none;

  &:active {
    color: @white-30;
  }
}
