.page-footer {
  text-align: center;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding: 36px 60px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 120px;
    padding-right: 120px;
  }
}
