.photo {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0 60px;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
  }
}
