.photo {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0 60px;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    justify-content: center;
  }
}

.photo__title {
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
}

.photo__author {
  margin: 0;
}

.photo__like-number {
  font-weight: 700;
}

.photo__container {
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
}

.photo__container-image {
  display: block;
}

.photo__container-text {
  margin: 0;
  padding-top: 9px;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    background-color: @light-grey;
    padding: 14px 20px;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: @black-30;
    color: @white;
  }
}

.photo__rating {
  padding: 4px 0;

  @media (min-width: @tablet-width) {
    padding: 8px 0;
  }
}

.photo__like {
  position: relative;
  width: 25px;
  height: 25px;
  border: none;
  background: transparent;
  margin-right: 8px;

  @media (min-width: @tablet-width) {
    margin-right: 2px;
  }
}

.photo__like-icon {
  position: absolute;
  bottom: 0;
  left: 0;
  fill: @black-30;

  @media (min-width: @desktop-width) {
    fill: @white;
  }
}
