.video {
  padding-bottom: 104px;

  @media (min-width: @tablet-width) {
    padding-bottom: 41px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 85px;
  }
}

.video__text {
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  padding: 33px 30px;

  @media (min-width: @tablet-width) {
    padding: 57px 154px 80px;
  }

  @media (min-width: @desktop-width) {
    padding: 61px 370px 78px;
  }
}

.video__title {
  font-size: 18px;
  font-weight: 700;
  padding: 0 10px;
  margin: 0;
  margin-bottom: 30px;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 26px;
    margin-bottom: 33px;
  }
}

.video__description {
  font-size: 14px;
  margin: 0;
}

.video__container {
  position: relative;

  @media (min-width: @tablet-width) {
    margin-left: 60px;
    margin-right: 60px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 200px;
    margin-right: 200px;
  }
}

.video__image {
  display: block;
  width: 100%;
  height: auto;
}

.video__controls {
  position: absolute;
  bottom: -66px;
  left: 0;
  right: 0;
  display: flex;
  flex-wrap: wrap;
  min-height: 45px;
  margin-right: 20px;
  margin-left: 20px;
  background-color: @black-60;

  @media (min-width: @tablet-width) {
    bottom: 0;
    flex-wrap: nowrap;
    align-items: center;
    margin: 0;
    padding-left: 20px;
    padding-right: 26px;
    min-height: 93px;
  }
}

.video__controls-scale {
  position: relative;
  margin: 21px 25px;
  width: 100%;
  height: 3px;
  background-color: fade(@white, 20%);
}

.video__controls-button {
  border: none;
  background: transparent;
  fill: @blue-grey;
  padding: 23px 20px;
  background-color: @light-grey;

  @media (min-width: @tablet-width) {
    padding: 0;
    background-color: transparent;
    fill: @white;
  }

  &:hover {
    fill: @dark-grey;

    @media (min-width: @tablet-width) {
      fill: @white-60;
    }
  }

  &:active {
    fill: @dark-grey-30;

    @media (min-width: @tablet-width) {
      fill: @white-30;
    }
  }

  &--replay {
    flex-grow: 1;

    @media (min-width: @tablet-width) {
      order: -1;
    }
  }
}

.video__controls-icon {
  display: block;

  @media (min-width: @tablet-width) {
    padding: 20px 15px;
  }
}

.video__controls-pointer {
  position: absolute;
  top: -4px;
  left: 14%;
  width: 13px;
  height: 13px;
  border: none;
  border-radius: 50%;
  background-color: @white;

  &:focus {
    outline-offset: 2px;
  }

  @media (min-width: @tablet-width) {
    left: 29%;
  }

  @media (min-width: @desktop-width) {
    left: 20%;
  }
}
